extends layout

block content
    div#dbData.row
    include all_data
    form(method='POST' action='/api/add')
        p.r Media
        .form-group.row
            label.col-sm-2.col-form-label.col-form-label-sm(for='mTitle') Title
            .col-sm-10
                input#mTitle.form-control.form-control-sm(type='text', name='media_title')

        .form-group.row
            label.col-sm-2.col-form-label.col-form-label-sm(for='mName') Name
            .col-sm-10
                input#mName.form-control.form-control-sm(type='text', name='media_name')

        .form-group.row
            label.col-sm-2.col-form-label.col-form-label-sm(for='mType') Type
            .col-sm-10
                input#mType.form-control.form-control-sm(type='text', name='media_type')

        .form-group.row
            label.col-sm-2.col-form-label.col-form-label-sm(for='mUrl') URL
            .col-sm-10
                input#mUrl.form-control.form-control-sm(type='text', name='media_url')


        p.r Tech used
            .form-group.row
                label.col-sm-2.col-form-label.col-form-label-sm(for='tName') Name
                .col-sm-10
                    input#tName.form-control.form-control-sm(type='text', name='tech_name')



        p.r The rest
            .form-group.row
                label.col-sm-2.col-form-label.col-form-label-sm(for='rDescription') Description
                .col-sm-10
                    input#rDescription.form-control.form-control-sm(type='text', name='description')

            .form-group.row
                label.col-sm-2.col-form-label.col-form-label-sm(for='rStory') Story
                .col-sm-10
                    input#rStory.form-control.form-control-sm(type='text', name='story')

            .form-group.row
                label.col-sm-2.col-form-label.col-form-label-sm(for='rName') Name
                .col-sm-10
                    input#rName.form-control.form-control-sm(type='text', name='name')

            .form-group.row
                label.col-sm-2.col-form-label.col-form-label-sm(for='rWebLink') Web Link
                .col-sm-10
                    input#rWebLink.form-control.form-control-sm(type='text', name='web_link')

            .form-group.row
                label.col-sm-2.col-form-label.col-form-label-sm(for='rDate') Date
                .col-sm-10
                    input#rDate.form-control.form-control-sm(type='text', name='date')

            .form-group.row
                label.col-sm-2.col-form-label.col-form-label-sm(for='rGitLink') Git Link
                .col-sm-10
                    input#rGitLink.form-control.form-control-sm(type='text', name='git_link')

            .form-group.row
                label.col-sm-2.col-form-label.col-form-label-sm(for='rUsefulness') Usefulness
                .col-sm-10
                    input#rUsefulness.form-control.form-control-sm(type='text', name='usefulness')

            .form-group.row
                label.col-sm-2.col-form-label.col-form-label-sm(for='rKnowledges') Knowledges
                .col-sm-10
                    input#rKnowledges.form-control.form-control-sm(type='text', name='knowledges')

            .form-group.row
                label.col-sm-2.col-form-label.col-form-label-sm(for='rId') Id (for edit)
                .col-sm-10
                    input#rId.form-control.form-control-sm(type='text', name='id_')

        .form-group.row
            label.col-sm-2.col-form-label.col-form-label-sm(for='pwd') Password
            .col-sm-10
                input#pwd.form-control.form-control-sm(type='text', name='pwd')

        .form-group.row
            label.col-sm-2.col-form-label.col-form-label-sm(for='del') Delete
            .col-sm-10
                input#del.form-control.form-control-sm(type='text', name='del')


        button.btn.btn-primary(type='submit') Submit

